mixin changeStatusAll(path)
  form(action=path
              method="POST"
              form-change-multi)
            .d-flex.align-item-start
              .form-group 
                select(name="type" class="form-control")
                  option(disable selected) --Chọn tính năng-- 
                  option(value="active") Hoạt động 
                  option(value="inactive") Dừng hoạt động 
                  option(value="deleted-All") Xóa sản phẩm 
                  option(value="change-position") Thay đổi vị trí    
                input(type="text"
                      name = "ids"
                      value=""
                      class = "form-control d-none")
              button(type="submit" class="btn btn-primary" style = "font-size: 15px") Ap dung 