mixin pagination(pagination)
  nav(aria-label='Page navigation example')
      ul.pagination
        if ( pagination.currentPage > 1)      
            li.page-item
              button(class ="page-link" href='', aria-label='Previous' button-pagination = pagination.currentPage - 1)
                    span(aria-hidden='true') &laquo;
        - for(var i = 1; i <= pagination.totalPage; i++)    
            li(class = `page-item ${pagination.currentPage  == i ? "active" : "" }`  )
              button(class= "page-link"
                     button-pagination = i
                   ) #{i}
        if ( pagination.currentPage < pagination.totalPage)           
            li.page-item  
              button(class = "page-link" href='#', aria-label='Next'  button-pagination = pagination.currentPage + 1)
                span(aria-hidden='true') &raquo;