header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard")
            img(src="/img/admin.png" alt="Admin Logo") 
            span ADMIN
      .col-9
             
