mixin sort()
    div(sort)
        select(class= "form-control" name="sort" select-sort)
            option(value="price-desc") Giá giảm dần
            option(value="price-asc") Giá tăng dần
            
