extends ../../layout/layout.pug
include ../../mixin/alert.pug
include ../../mixin/selected-tree.pug
block mains
  main.content
    +alert-error(5000)
    h1 Tạo mới danh mục
    form(action=`${variableAll}/product-category/create` method="POST" enctype="multipart/form-data")
        div.form-group
            label(for="title") Tiêu đề
            input#title(type="text" name="title" required placeholder="Nhập tiêu đề" class="form-control")
        div.form-group
            //- label(for="parent_id") Danh muc cha
            //- input#title(type="text" name="parent_id"  placeholder="Nhập tiêu đề" class="form-control")
            select(name="parent_id" id="parent_id" class="form-control")
              option(value="") -- Chon danh muc cha --   
              if(records)
                +selected-tree(records)
        div.form-group
            label(for="description") Mô tả
            textarea#description(name="description" rows="4" required placeholder="Nhập mô tả" class="form-control")
        div(class="form-group" form-change-multi)
            label(for="thumbnail") Ảnh đại diện
            input#thumbnail(type="file" name="thumbnail" required placeholder="Nhập URL ảnh đại diện" class="form-control-file" accept="img/*" update-img)
            img(src="", uploads-img-preview width="100px", height="auto") 
            button(class="alert-danger" delete-img) x
        div.form-group
            label(for="status") Trạng thái
            select#status(name="status" required class="form-control")
              option(value="active") active
              option(value="inactive") inactive  
        div.form-group
            label(for="position") Vị trí
            input#position(type="number" name="position" min="0" placeholder="Nhập vị trí" class="form-control")
        div.form-group
            button(type="submit") tạo mới
    
